@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CUT IT</h1>
    <p class="lead">A cloud based salon management system developed by Faisal Ghaffar</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Salon Services</h2>
        <p>
            Create, Update, Delete and List all professional services offered by CUT IT.
        </p>
        <p><a class="btn btn-default" href="/Services">Explore more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer Base</h2>
        <p>Create, Update, Delete and List all customers.</p>
        <p><a class="btn btn-default" href="/Customers">Learn more &raquo;</a></p>
    </div>   
</div>